.swiper-slide {
  height: 400px !important;
  width: 90% !important;
  background: transparent;
}

.swiper-slide:nth-child(1) .slide-img {
  background-image: url("../images/mercury.png");
}
.swiper-slide:nth-child(2) .slide-img {
  background-image: url("../images/venus.png");
}
.swiper-slide:nth-child(3) .slide-img {
  background-image: url("../images/earth.png");
}
.swiper-slide:nth-child(4) .slide-img {
  background-image: url("../images/mars.png");
}
.swiper-slide:nth-child(5) .slide-img {
  background-image: url("../images/jupiter.png");
}
.swiper-slide:nth-child(6) .slide-img {
  background-image: url("../images/saturn.png");
}
.swiper-slide:nth-child(7) .slide-img {
  background-image: url("../images/uranus.png");
}
.swiper-slide:nth-child(8) .slide-img {
  background-image: url("../images/neptune.png");
}

.slide-img {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: contain;
  width: 30%;
  height: 100%;
}

.slide-number {
  position: absolute;
  top: -30px;
  left: 30%;
  z-index: 1;
  width: 200px;
  height: 120px;
  overflow: hidden;
  z-index: 10;
}

.slide-number p {
  font-size: 40px;
  font-family: $font !important;
  color: #fff;
  position: relative;
}

.slide-number p span {
  position: absolute;
}

.slide-detail {
  position: absolute;
  top: 130px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
}

.slide-detail p {
  font-size: 14px;
  color: #fff;
  position: relative;
  opacity: 0.8;
  line-height: 30px;
}

.slide-detail p span {
  position: absolute;
}

.slide-detail-facts {
  position: absolute;
  top: 240px;
  left: 30%;
  z-index: 10;
  width: 50%;
  height: 400px;
  overflow: hidden;
  color: #fff;
  display: flex;
}

.slide-detail-facts div {
  display: flex;
  position: relative;
}

.slide-detail-facts div h5 {
  margin-right: 20px;
}

.slide-text {
   position: absolute;
   top: -150px;
   left: 22%;
   z-index: 9;
   width: 200px;
   height: 400px;
   overflow: hidden;
   opacity: 0.1 !important;
}

.slide-text h4 {
   color: #fff;
   font-size: 100px;
   position: relative;

   span {
      position: absolute;
   }
}
